body{
  font-family: $font-family-base;
  color: $msva-font-base-color;
}

.contentwrapper-inner{

    a{
      color: $msva_blue;

      &:hover{
        color: $msva_blue;
      }
    }
  
    .sk-sidebar a{
      color: inherit;
    }

    .sk-collapse h2 a{
      color:inherit;
    }

}

.site-header {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

.mobile-header{
  display: none;
}


.archive-post .media-left{
  padding: 0;
}


.page-template-template-startpage{
  .page-widgets{
    display: none;
  }

}

.news{
  margin-top: -2em;
  h3{
    color: $msva_blue !important;
  }

  .widget-latest-news{
    margin-top: 2em;
  }
}

.site-header .navbar {
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;


    .region-select{
      span{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        padding-right: 10px;
      }

      .icon{
        margin-left: 1em;
        padding-bottom: 10px;
      }

    }


}
