body{
  font-family: $font-family-base;
  color: $msva-font-base-color;
}

.contentwrapper-inner{

    a{
      color: $msva_blue;

      &:hover{
        color: $msva_blue;
      }
    }
  
    .sk-sidebar a{
      color: inherit;
    }

    .sk-collapse h2 a{
      color:inherit;
    }

}

.site-header {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

.mobile-header{
  border:none;


  @include media-breakpoint-down(sm) {
    border-top: 5px solid $msva-base-color !important;
    border-bottom: 3px solid $msva_border_color;
    .site-logo {
      .custom-logo {
        max-height: 4em;
        max-width: 7.75em;
      }
    }


  }
}


.archive-post .media-left{
  padding: 0;
}


.page-template-template-startpage{
  .page-widgets{
    display: none;
  }

}

.news{
  margin-top: -2em;
  h3{
    color: $msva_blue !important;
  }

  .widget-latest-news{
    margin-top: 2em;
  }
}

.site-header .navbar {
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;


    .region-select{
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        .btn{
         display: block;
        }

      }

      span{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        padding-right: 10px;
      }

      .icon{
        margin-left: 1em;
        padding-bottom: 10px;
      }

    }


}

.site-footer{
  .site-footer__column:first-child{
    width: 25%;
  }
  .site-footer__column:last-child{
    width: 70%;
    float:right;
    padding-top: 3.5em;
    text-align: right;
  }

  @include media-breakpoint-down(md) {
    .site-footer__column:first-child{
      width: 100%;
    }

    .site-footer__column:last-child{
      float:left;
      padding-top: 1em;
      width: 100%;
      text-align: left;
    }
  }
}


.container-fluid{
  @include media-breakpoint-down(sm) {
    //padding: 0;

    .row.blocks > [class*='col-'] {
      //padding-left: 1em;
      //padding-right: 1em;
    }

  }

}
