$msva_blue: #286aa6;
$msva_green: #5bab62;
$msva_purple: #327fb5;

$sk-linklist-bg: #ffffff;
$sk-linklist-fg: #97b1dd;
$sk-linklist-fg-active: $msva_blue;




$msva_border_color: #c8d2ec;

$msva-base-color: #1370b8;
//$msva-base-button-inactive: #ffffff;
//$msva-base-button-passive: $msva-base-button-inactive;
$msva-base-button-hover-bg: #e3e8f5;

$msva-base-button-active-color: #ffffff;
$msva-base-button-active-bg: #1370b8;
$msva-base-button-active-border: #1370b8;

//$msva-base-button-click: #1370b8;

$btn-secondary-color:            #0e85c5;
$btn-secondary-bg:               #fff;
$btn-secondary-border:           $msva_border_color;


$font-family-large:          'Lato', sans-serif;
$font-family-sans-serif:     'Lato', sans-serif;
$font-family-base:           $font-family-sans-serif !default;

$headings-margin-bottom:     .5em;
$headings-font-family:       $font-family-large;
$headings-font-weight:       400 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;


